# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-docstring-first
    -   id: check-json
    -   id: requirements-txt-fixer
    -   id: check-builtin-literals
-   repo: https://github.com/PyCQA/flake8
    rev: ''
    hooks:
    -   id: flake8
        types: [python]
