{% extends 'base.html' %}

{% block body %}
<div class="container mx-auto">
	<div class="row">
		<div class="card-deck mx-auto w-75">
			<a class="card shadow-lg bg-dark" href="/poly" style="text-decoration: none;">
				<img class="card-img-top" src="static/images/poly.png" alt="Polygonal">
				<div class="card-body">
					<h5 class="card-title">Polygonal</h5>
					<p class="card-subtitle mb-2 text-muted">Generate HQ low poly images</p>
				</div>
			</a>
			<a class="card shadow-lg bg-dark" href="/shape" style="text-decoration: none;">
				<img class="card-img-top" src="static/images/diamond.png" alt="Shapes">
				<div class="card-body">
					<h5 class="card-title">Shapes</h5>
					<p class="card-subtitle mb-2 text-muted">Generate HQ images of beautiful shapes</p>
				</div>
			</a>
			<a class="card shadow-lg bg-dark" href="/pic" style="text-decoration: none;">
				<img class="card-img-top" src="static/images/anime-poly-square.png" alt="Picture">
				<div class="card-body">
					<h5 class="card-title">Picture</h5>
					<p class="card-subtitle mb-2 text-muted">Use a picture instead of a gradient</p>
				</div>
			</a>
		</div>
	</div>
</div>

{% endblock %}