<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Wallgen</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<div class="navbar fixed-top bg-dark">
		<span class="navbar-brand mb-0 h1 text-light">Wallgen</span>
	</div>
	<div class="container mx-auto mt-4">
		<div class="jumbotron bg-transparent">
			<div class="row card-group">
					<a class="card col-sm-5 mx-auto bg-transparent text-center border-0 page-id" href="/poly" style="text-decoration: none">
						<img class="card-img shadow-lg" src="static/images/poly.png" alt="poly">
						<div class="card-img-overlay">
							<h1 class="display-2"> POLY </h1>
						</div>
					</a>

					<a class="card col-sm-5 mx-auto bg-transparent text-center border-0 page-id" href="/pattern" style="text-decoration: none">
						<img class="card-img shadow-lg" src="static/images/pattern.png" alt="poly">
						<div class="card-img-overlay">
							<h1 class="display-2"> PATTERN </h1>
						</div>
					</a>
			</div>
		</div>
	</div>
</body>
</html>