{% extends 'base.html' %}

{% block body %}

<div class="container mx-auto col-md-8">
	<div class="jumbotron bg-transparent">
		<form action="/poly" method="POST" target="_blank">
			<div class="form-group">
				<label for="Height" class="display-4 text-light">Height</label>
				<input class="form-control form-control shadow" type="number" placeholder="Enter height in pixels, e.g. 2000" name="side" min="100" max="5000" required>
			</div>
			<div class="form-group">
				<label for="Points" class="display-4 text-light">Points</label>
				<input class="form-control form-control shadow" type="number" placeholder="Enter number of points, e.g. 100" name="np" min="10" max="1000" required>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="form-group container">
						<label for="formControlRange" class="display-4 text-light">Number of colors</label>
						<input type="range" class="form-control-range rounded" id="nColors" min="2" max="10" value="2" name="nColors" required>
					</div>
				</div>
				<label for="Colors" class="display-4 text-light">Input colors</label>
				<div class="row" id="colorInput">
				</div>
			</div>
			
			<div class="form-group">
				<label class="display-4 text-light inline-block" for="Outline">Outline</label>
				<label class="switch">
					<input class="mx-2 inline-block" name="outline" type="checkbox">
					<span class="slider round"></span>
				</label>
			</div>
			<button type="submit" class="btn btn-primary btn btn-block btn-dark">Submit</button>
		</form>
	</div>
</div>

<script>

	function renderInputs() {
		var co = $("input[name=nColors]");
		var f = document.getElementById('colorInput');

		console.log(co.val());

		f.innerHTML = "";

		for (i=1; i<=co.val(); i++ )
		{

			var c = '';
			c += '<div class="col">';
			c += '<input class="form-control shadow" type="color" name="rgb'+i+'" value="#ff0000">';
			c += '</div>';

			f.innerHTML += c;
		}
	}

	$(document).ready(function ()
	{
		renderInputs();

	});

	
	$("input[name=nColors]").on("input change", function()
	{
		renderInputs();
	});

</script>

{% endblock %}