{% extends 'base.html' %}

{% block body %}

<div class="container mx-auto col-md-8">
	<div class="jumbotron bg-transparent">
		<form action="/shape" method="POST">
			<div class="form-group">
				<label for="Height" class="display-4 text-light">Height</label>
				<input class="form-control form-control shadow" type="number" placeholder="Enter height in pixels, e.g. 2000" name="side" required>
				<small class="form-text text-light">Image size cannot exceed 4000</small>
			</div>
			<div class="form-group">
				<label for="Colors" class="display-4 text-light">Input colors</label>
				<div class="row">
					<div class="col">
						<input class="form-control form-control shadow" type="color" placeholder="Enter color 1, e.g #ff0000" name="rgb1">
					</div>
					<div class="col">
						<input class="form-control form-control shadow" type="color" placeholder="Enter color 2, e.g #0000ff" name="rgb2">
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="Shapes" class=""></label>
				<select class="form-control form-control" name="shape">
					<option value="squares">Squares</option>
					<option value="hexagon">Hexagon</option>
					<option value="diamond">Diamond</option>
				</select>
			</div>
			

			<div class="form-group">
					<label class="display-4 text-light inline-block" for="Outline">Outline</label>
					<label class="switch">
						<input class="mx-2 inline-block" name="outline" type="checkbox">
						<span class="slider round"></span>
					</label>
			</div>

			<button type="submit" class="btn btn-primary btn btn-block btn-dark">Submit</button>
		</form>
	</div>
</div>

{% endblock %}